.button {
    width: 100%;
    background-color: #0d6efd;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 0;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: #0153ce;
}
