.login-container {
    background-color: #ffffff11;
    width: 400px;
    padding: 60px 30px;
    z-index: 1;
    box-shadow: 0 0 20px 5px #050505;
    color: #ffffff;
    text-align: center;
}

.login-container > h1 {
    font-size: 40px;
    font-weight: 600;
}

.login-container .checkbox-and-link {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.login-container .blue-link {
    color: royalblue;
    cursor: pointer;
}

.login-container .blue-link:hover {
    text-decoration: underline;
}

.login-container .signup {
    margin-top: 20px;
}

.login-container .signup > span {
    margin-left: 8px;
}
