.product {
    width: 25%;
    padding: 10px;
    text-align: center;
    color: rgb(90, 90, 90);

    img {
        width: 100%;
    }

    .product-text {
        margin-top: 10px;

        h4 {
            cursor: pointer;
            transition: all 0.3s linear;
        }

        p {
            color: rgb(150, 150, 150);
            overflow: hidden;
            height: 100px;
            mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.25)));
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        span {
            color: rgb(139, 71, 8);
            font-size: 22px;
            font-weight: 700;
        }
    }
}
